body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;

}

.header {

    padding-left: 150px;
    padding-right: 150px;
    max-width: 900px;
    background-color: #1F2937;
    color: white;

}

.navbar { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

.menu li {
    margin-left: 20px;
    font-weight: 18px;
    color: #e5e7eb;
}

#hero {
    display: flex;
    flex-direction: row; 
    padding-top: 100px;
    padding-bottom: 100px;
}

#call-to-action {
    margin-right: 80px;

}

#hero-main {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;

}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 6px 20px;
    border-radius: 5px;
    border-width: 0;
}

.info {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.info-header {
    font-weight: 900;
    font-size: 36px;
    color:#1F2937;
}

.box-group {
    display: flex;
    justify-content: center;
    gap: 50px;
   
}

.img-container {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.subtext {
    width:150px;
    text-align: center;
}

.quote-section {
    max-width: 900px;
    background-color: #e5e7eb;
    padding: 75px 150px 75px 150px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    text-align: right;
    font-size: 24px;
    color:#1F2937;
    font-weight: bolder;
}
.fourth-container {
    max-width: 900px;
    padding: 75px 150px 75px 150px;
}

.cta-section {
    width:900px;
    height: 150px;
    border-radius: 5px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-header {
    color: white;
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 0;
}

.cta-text {
    margin-top: 5px;
}

.sign-up {
    font-weight:900;
    font-size: 16px;
    border:2px solid white;
    border-radius: 5px;
}